@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Modern Minimalist */

/* :root {
  --primary-color: #1A1A1A;
  --secondary-color: #E91E63;
  --neutral-light: #F5F5F5;
  --neutral-dark: #212121;
  --white: #FFFFFF;
  --black: #000000;
} */


/* Calm and Professional */

/* :root {
  --primary-color: #2C3E50;
  --secondary-color: #2980B9;
  --neutral-light: #ECF0F1;
  --neutral-dark: #212121;
  --white: #FFFFFF;
  --black: #000000;
} */


/* Elegant and Sophisticated */

:root {
  --primary-color: #34495E;
  --secondary-color: #9B59B6;
  --neutral-light: #FDFEFE;
  --neutral-dark: #212121;
  --white: #FFFFFF;
  --black: #000000;
}


/* Bold and Vibrant */
/* :root {
  --primary-color: #FF5722;
  --secondary-color: #607D8B;
  --neutral-light: #F1F8E9;
  --neutral-dark: #212121;
  --white: #FFFFFF;
  --black: #000000;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: var(--neutral-light);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--neutral-dark);
  position: relative;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: var(--primary-color);
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.hamburger-menu {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
}

.mobile-nav ul li {
  margin: 10px 0;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: var(--neutral-dark);
}

.close-btn {
  font-size: 1.5em;
  cursor: pointer;
  text-align: right;
}

/* Sidebar */
.container {
  display: flex;
  margin-top: 80px;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  height: 100vh;
  padding: 20px;
  margin-left: 20px;
  background-color: var(--neutral-light);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;  
}

.sidebar h2 {
  margin-top: 20px;
  text-align: center;
}

.title {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  /* display: inline-block; */
  margin: 10px auto;
  width: max-content;
}

hr {
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons .btn {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--white);
  text-decoration: none;
}

.buttons .btn:hover {
  background-color: var(--primary-color);
}

.contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.contact-item i,
.experience-title i {
  background-color: var(--neutral-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(107, 26, 96, 0.1);
}

.contact-item a,
.contact-item span {
  text-decoration: none;
  color: var(--neutral-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.social-media a {
  color: var(--neutral-dark);
}

.social-media a:hover {
  color: var(--primary-color);
}

.main-content {
  margin-left: 25%;
  padding: 20px;
  width: 75%;
}

/* main section */

/* about me */

.gen-info{
  display: flex;
  flex-wrap: wrap;  
  gap: 6%;
}

.about-me .details {
  flex-basis: 47%;
  width: 47%;
  padding-top: 20px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: start;
}

.personal-info p{
  font-weight: 400;
  line-height: 2em;
}

.image-box {
  width: 45%;
  height: min-content;
  border-radius: 10px;
  overflow: hidden;
}
.image-box img{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;  
}

/* professional experience */

.experience {
  padding-top: 20px;
}



.experience-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  gap: 10px;
}

.experience-details{
  margin-left: 40px;
}

.experience-details p{
  margin-bottom: 5px;
}

/* technologies */

/* .tech{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(107, 26, 96, 0.1);
}

.tech i {
  width: 2rem;
  height: 2rem;
} */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 20%;
  height: 20%;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 0.75rem;
}


.skill-card hr {
  width: 80%;
  border: 1px solid;
}

/* Different colors for icons, technology names, and lines */
.skill-card.python i,
.skill-card.python p,
.skill-card.python hr { color: #306998; }

.skill-card.django i,
.skill-card.django p,
.skill-card.django hr { color: #092E20; }

.skill-card.javascript i,
.skill-card.javascript p,
.skill-card.javascript hr { color: #F0DB4F; }

.skill-card.react i,
.skill-card.react p,
.skill-card.react hr { color: #61DAFB; }

.skill-card.next i,
.skill-card.next p,
.skill-card.next hr { color: #000000; }

.skill-card.node i,
.skill-card.node p,
.skill-card.node hr { color: #68A063; }

.skill-card.tailwind i,
.skill-card.tailwind p,
.skill-card.tailwind hr { color: #38B2AC; }

.skill-card.typescript i,
.skill-card.typescript p,
.skill-card.typescript hr { color: #3178C6; }

.skill-card.graphql i,
.skill-card.graphql p,
.skill-card.graphql hr { color: #E10098; }

.skill-card.api i,
.skill-card.api p,
.skill-card.api hr { color: #4CAF50; }

.skill-card.docker i,
.skill-card.docker p,
.skill-card.docker hr { color: #2496ED; }

.skill-card.github i,
.skill-card.github p,
.skill-card.github hr { color: #181717; }

.skill-card.postgresql i,
.skill-card.postgresql p,
.skill-card.postgresql hr { color: #336791; }

.skill-card.mongodb i,
.skill-card.mongodb p,
.skill-card.mongodb hr { color: #47A248; }

.skill-card.aws i,
.skill-card.aws p,
.skill-card.aws hr { color: #FF9900; }

.skill-card.cicd i,
.skill-card.cicd p,
.skill-card.cicd hr { color: #6C63FF; }





/* Media Queries */
@media (max-width: 799px) {
  
  
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .container {
    flex-direction: column;
  } 
  .sidebar {
    width: calc(100% - 40px);
    height: auto;
    position: relative;
    margin: 10px 20px;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  /* about section */
  .gen-info{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }


.about-me .details {
  flex-basis: 100%;
  width: 100%;
  padding: 5px;  
}
   
}

@media (max-width: 477px) {
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-nav {
    display: none;
  }

  .image-box {
    width: 90%;
  }
}